body {
    background-color: blue;
}

h1{
    color: orange;
}


.container{
    display: flex;
}

.big_container{
    display: flex;
    justify-content: flex-end;
}

.container.cont_profile{
    flex-direction: column;
}

.container.cont_profile .cont_detail{
    display: inherit;
    border: black 1px solid;
}

.container.cont_profile .profileImg{
    width: 120px;
    height: 100px;
    border-radius: 40%;
}

.container.cont_pengiriman {
    flex-wrap: wrap;
    width: 40%;
    max-width: 700px;

    border: black solid 1px;
}

.container.cont_pengiriman .pengiriman{
    border: gray solid 1px;
} 




/* buat home */
/* dari w3-school */
/* 
.navbar {
    background-color: #607d8b;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #000000cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.aktif {
    background-color: #2d3c8c85;
    color: white;
} */
